<% article = @article %>
<% if @article.comments.length > 0 %>
<% @article.comments.each do |comment| %>
<div id="comment">
  <div>
  <%= comment.body %>
  </div>
  <div class="clear">
  </div>
  <div class="article-info">
    <span class="glyphicon glyphicon-user"></span>
    <%= comment.user.ident %>
    <span class="glyphicon glyphicon-time"></span>
    <%= comment.created_at %>
  <%= link_to '編集', edit_comment_path(comment) unless User.current.nil? %>
  <%= link_to '削除', comment_path(comment), method: 'DELETE' unless User.current.nil? %>
  </div>
  <div class="clear">
  </div>
  <hr>
</div>
<% end %>
<% else %>
<div>No comment</div>
<% end %>
<br>
