<% article = @article %>
<% if @article.comments.length > 0 %>
<% @article.comments.each do |comment| %>
<div id="comment">
  <%= comment.user.ident %> :
  <br>
  <%= comment.body %>
  <div class="published_on"> <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
  <%= link_to '編集', edit_comment_path(comment) unless User.current.nil? %>
  <%= link_to '削除', comment_path(comment), method: 'DELETE' unless User.current.nil? %>
</div>
<% end %>
<% else %>
<div>No comment</div>
<% end %>
<br>
