<div class="box">
  <div class="title-bar">
    <%= link_to_article_by_perma_link(article.title, article, {class: "title"}) %>
    <% unless article.approved %>
      <%= glyphicon "eye-close" %>
    <% end %>
  </div>
  <%= render partial: "articles/info", locals: {article: article} %>
  <div class="clear">
  </div>
  <div>
    <%= raw fold_article(article.content) %>
  </div>
  <hr>
  <%= link_to_article_by_perma_link("(続きを読む)", article) %>
</div>
