<div class="box">
  <div class="<%= article.approved ? "title-bar" : "private-title-bar" %>" >
    <%= link_to_article_by_perma_link(article.title, article, {class: "title"}) %>
    <% unless article.approved %>
      <%= fa_icon "lock", class: "private title" %>
    <% end %>
  </div>
  <%= render partial: "articles/info", locals: {article: article} %>
  <div class="clear">
  </div>
  <div>
    <%= raw fold_article(article.content) %>
  </div>
  <hr>
  <%= link_to_article_by_perma_link("#{fa_icon 'play'} Read More".html_safe, article) %>
</div>
