<div class="article-info">
  <%= glyphicon "eye-open" %>
  <%= article.count %>
  <%= glyphicon "user" %>
  <%= article.user.ident %>
  <%= glyphicon "time" %>
  <%= article.created_at %>
  <%= glyphicon "comment" %>
  <%= article.comments.length %>
</div>
