<div class="article-info">
  <%= glyphicon "eye-open" %>
  <%= article.count %>
  <%= glyphicon "user" %>
  <%= article.user.ident %>
  <%= glyphicon "time" %>
  <%= article.published_on.to_s(:date) %>
  <%= glyphicon "comment" %>
  <%= article.comments.length %>
</div>
