<div class="col-md-3 side_bar">
  <h5 class="side-title">Comment</h5>
  <hr class="border">
  <% comments.each do |comment| %>
  <p class="comment-article-title"><%= link_to_article_by_perma_link(comment.article.title, comment.article) %></p>
  <p class="comment-body">> <%= fold_comment(comment.body) %></p>
  <p class="comment-name">by <%= comment.user.ident %></p>
  <% end %>
  <h5 class="side-title">Archives</h5>
  <hr class="border">
  <% list_year_archives(articles).each do |year| %>
  <p><%= "#{year[:year]}(#{year[:item]})" %></p>
  <% year[:month].each do |month| %>
  <p><%= "#{month[:month]}(#{month[:item]})" %></p>
  <% end %>
  <% end %>
</div>
