<div class="row">
  <% @articles.each do |article| %>
  <div class="box col-md-8">
    <div class="title-bar">
      <%= link_to "#{article.title}", article, { :class => "title"} %>
    </div>
    <div class="article-created-at">
      <%= article.user.ident %>
      <span class="glyphicon glyphicon-time"></span>
      <%= article.created_at %>
    </div>
    <div class="clear">
    </div>
    <div>
    <%= raw fold_article(article.content) %>
    </div>
    <hr>
  </div>
  <% end %>
</div>
<%= link_to 'New Article', new_article_path %>
