<p id="notice"><%= notice %></p>

<article>
  <h1 class="title">
    <%= @article.title %>
  </h1>

  <div class="article_information">
    <div class="published_on">
      <%= @article.published_on %>
    </div>

    <div class="author">
      <%= @article.user.ident %>
    </div>

    <div class="count">
      <%= @article.count %>
    </div>
  </div>

  <div class="content">
    <%= raw Kramdown::Document.new(@article.content).to_html %>
  </div>
</article>

<hr>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
