<% provide(:title, @article.title) %>

<p id="notice"><%= notice %></p>

<div class="col-md-9">
  <div class="row">
    <div class="box">
      <div class="title-bar">
        <span class="title">
          <%= @article.title %>
        </span>
      </div>
      <%= render partial: "info", locals: {article: @article} %>

      <div class="clear">
      </div>

      <div class="content">
        <%= raw Kramdown::Document.new(@article.content).to_html %>
      </div>

      <div class="clear">
      </div>

      <hr>

      <% unless User.current.nil? %>
       <div class="article-info">
        <%= link_to '編集', edit_article_path(@article) %>
       </div>
      <% end %>

      <div class="clear">
      </div>

    </div>

    <div class="box">
      <div class="title-bar">
        <span class="title">
          Comment
        </span>
      </div>
      <hr>
      <%= render :partial => '/comments/list_comment',:locals => {:article => @article} %>
      <%= render :partial => '/comments/form',:locals => {:article => @article} unless User.current.nil?%>
    </div>

    <div class="clear">
    </div>

    <%= link_to '戻る', articles_path %>

  </div>
</div>
