<% provide(:title, @article.title) %>

<p id="notice"><%= notice %></p>

<div class="col-md-9">
  <div class="row">
    <div class="box">
      <div class="title-bar">
        <span class="title">
          <%= @article.title %>
        </span>
      </div>
      <%= render partial: "info", locals: {article: @article} %>
      <div class="clear"></div>
      <div class="share-button">
	<%= tweet_button(@article.title, @article.user.ident) %>
      </div>

      <div class="clear">
      </div>

      <div class="content">
        <%= raw Kramdown::Document.new(@article.content,
                                       input: "GFM",
                                       syntax_highlighter: :rouge,
                                       syntax_highlighter_opts: {css_class: 'highlight'}
                                       ).to_html %>
      </div>

      <div class="clear">
      </div>

      <hr>

      <div class="row link-boxes">
        <% if p = @article.previous %>
          <%= link_to_article_by_perma_link(fa_icon("chevron-left", text: p.title),
                                            p,
                                            {class: "col-xs-6 link-box"}) %>
        <% end %>
        <% if n = @article.next %>
          <%= link_to_article_by_perma_link(fa_icon("chevron-right", text: n.title, right: true),
                                            n,
                                            {class: "col-xs-6 link-box"}) %>
        <% end %>
      </div>

      <hr>

      <%= link_to fa_icon("home"), articles_path %>

      <% unless User.current.nil? %>
        <div class="article-info">
          <%= link_to edit_article_path(@article) do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <%= link_to article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <%= fa_icon "trash" %>
          <% end %>
        </div>
      <% end %>

      <div class="clear">
      </div>

    </div>

    <div class="box">
      <div class="title-bar">
        <span class="title">
          Comment
        </span>
      </div>
      <hr>
      <%= render :partial => '/comments/list_comment',:locals => {:article => @article} %>
      <%= render :partial => '/comments/form',:locals => {:article => @article} unless User.current.nil?%>
    </div>

    <div class="clear">
    </div>
  </div>
</div>
