<div class="col-md-5">
  <h1>Account Settings</h1>
  <div class="box setting-box">
    <h2>Change ident</h2>
    <%= form_tag root_path + "users/#{@user.id}", {method: :put} do %>
      <label>nickname</label>
      <%= text_field :user, :ident, class: "form-control" %>
      <%= button_tag "Change nickname", class: "btn btn-default" %>
    <% end %>
  </div>
  <div class="box">
    <h2>Change password</h2>
    <%= form_tag root_path + "users/#{@user.id}/change_password", method: :put do %>
      <label>Old password (OmniAuth default: blank)</label>
      <input type="password" class="form-control" name="old_password">
      <label>New password</label>
      <input type="password" class="form-control" name="new_password">
      <label>Confirm new password</label>
      <input type="password" class="form-control" name="password_for_confirming">
      <%= button_tag "Change Password", class: "btn btn-default" %>
    <% end %>
  </div>
  <div class="box">
    <h2>Setting OmniAuth</h2>
    <% unless @user.is_associated? %>
      <%= button_to "Associate with GitHub", root_path + "auth/github", class: "btn btn-default" %>
    <% else %>
      Your account is already associated with GitHub.
    <% end %>
  </div>
</div>
