<div class="top">
  <div class="topimg">
    <a href="http://www.swlab.cs.okayama-u.ac.jp/lab/nom">
      <img width="80px" src="img/comu_syimbol.jpg">
    </a>
  </div>
  <div class="toptitle">
    <h3> 岡山大学大学院 自然科学研究科 産業創成工学専攻</h3>
    <h2> 計算機科学講座(乃村研究室)</h2>
  </div>
</div>

<div class="home">
  <div class="toplabel">
    <h2> 研究室概要</h2>
  </div>
  <p></p>
  我々の研究室では， グループウェアとネットワークサービスの研究開発と， それらを通したソフトウェア開発の面白さを実践的に 習得することを目的としています．
  <p></p>
  また，オペレーティングシステム(OS)とその周辺についての 研究開発と，それらを通じた計算機そのものへの 深い理解を得ることも目的としています．
  <p></p>
  研究室の学生は，以下のプロジェクトのいずれかに 所属して研究開発を進めています．
  <ul>
    <li>グループウェアとネットワークサービスグループ(GN)</li>
    <li>新しいOSに関する研究開発グループ(New)</li>
  </ul>
  <dl>
    <dt>[キーワード]</dt>
    <dd>グループウェア，分散処理，計算機ネットワーク，オペレーティングシステム</dd>
  </dl>
</div>
<div class="home">
  <div class="toplabel">
    <h2> ノムニチ注目記事</h2>
  </div>
  <p></p>
  <% @headline.each do |article| %>
  <div class="box">
    <div class="title-bar">
      <%= link_to_article_by_perma_link(article.title, article, {class: "title"}) %>
    </div>
    <div class="article-info">
      <span class="glyphicon glyphicon-eye-open"></span>
      <%= article.count %>
      <span class="glyphicon glyphicon-user"></span>
      <%= article.user.ident %>
      <span class="glyphicon glyphicon-time"></span>
      <%= article.created_at %>
      <span class="glyphicon glyphicon-comment"></span>
      コメント(<%= article.comments.length %>)
    </div>
    <div class="clear">
    </div>
    <div>
      <%= raw fold_article(article.content) %>
    </div>
    <hr>
    <%= link_to_article_by_perma_link("(続きを読む)", article) %>
  </div>
  <% end %>
  <%= link_to "(もっと読む)", articles_path %>
</div>
