<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Nomnichi" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">nomlab</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <%= fa_icon "bars" %>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "トップページ", root_path %>
            </li>
            <li>
              <%= link_to "構成員", root_path + "members.html" %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                研究紹介<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "GN", root_path + "research/gn/index.html" %></li>
                <li><%= link_to "New", root_path + "research/new/index.html" %></li>
                <li><%= link_to "その他", root_path + "research/other/index.html" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                研究業績<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "学位論文一覧", root_path + "thesis/index.html" %></li>
                <li><%= link_to "発表論文一覧", root_path + "bibs/index.html" %></li>
              </ul>
            </li>
            <li>
              <%= link_to "アクセス", root_path + "access/index.html" %>
            </li>
            <li>
              <%= link_to "ノムニチ", :controller => "articles", :action => "index" %>
            </li>
          </ul>
          <% unless User.current.nil? %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= user_avatar_icon_tag(User.current) %><%= User.current.ident %><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "記事作成",new_article_path %></li>
                  <li><%= link_to "ユーザ設定", root_path + "settings" %></li>
                  <li><%= link_to "ログアウト", :controller => "gate", :action => "logout" %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
   </div>
    <div class="container">
     <footer>
      <%= link_to "Nomura Laboratory (c)", {:controller => "gate", :action => "login"}, :class => "unclear-link" %>
     </footer>
    </div>
  </body>
</html>
